/* ==========================================
// style-comp-summary.css
// ========================================== */

.summary-block .cond-container {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 15px;
}

.summary-block .btn-pace-toggle {
    padding: 6px 12px;
    font-size: 12px;
    width: auto;
}